#formulario{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

table{
    border-radius: 2px;
}

#botonclear{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}