.card-items{
    height: auto;
    width: 16rem;
    padding-bottom: 17px;
}

.item-title h1{
    font-size: 16px;
    padding-top: 6px;
}
.item-title {
    padding-left: 5px;
}

.buttom{
    margin: 7px;
    margin-right: 5px;
}