.imagen-principal-binah {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
}

.conteiner-navbar{
    display: flex;
    flex-wrap: inherit;
    flex-direction: row;
    justify-content: center;
}

.conteiner-navbar a{
    margin: 10px;
    
}
