.card-itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.card-itemList{
    margin: 2px;
    padding: 10px;
    padding-top: 20px;
}

.card-itemList{
    color: blue;
}

