.card-itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.card-itemList{
    margin: 7px;
    padding: 12px;
    padding-top: 0px;
}

.card-itemList{
    color: blue;
}

